.Guider > .guider {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  > .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    > .diagram {
      flex: 1 0 30%;
      // height: calc(40vh - 28px);
      border-top: 1px solid var(--surface-border);

      .react-flow__node-default,
      .react-flow__node-input,
      .react-flow__node-output,
      .react-flow__node-group {
        max-width: 90px;
        border-color: var(--surface-border);
      }

      .react-flow__node.active {
        background-color: #216ca5;
        color: #fff;
      }

      .react-flow__node.inactive {
        background-color: #495057;
        color: #fff;
      }

      .react-flow__node.idle {
        background-color: #ffe082;
        color: #000;
      }

      .react-flow__edge.active > path {
        stroke: #216ca5;
      }

      .react-flow__edge.idle > path {
        stroke: #ffe082;
      }

      .react-flow__edge.inactive > path {
        stroke: #495057;
      }

      .react-flow__panel {
        margin: 5px;
      }

      .react-flow__controls-button {
        background-color: var(--primary-color);
        border-radius: 3px;
        border: 0;

        > svg {
          fill: var(--primary-color-text);
        }
      }
    }

    > .loop {
      flex-shrink: 1;
      // min-height: 210px;
      width: 100%;
      border-top: 1px solid var(--surface-border);

      > .loop-body {
        display: flex;
        flex-flow: row nowrap;

        > .configuration {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          > .body {
            flex-grow: 1;
            margin: 2px;
            display: grid;
            grid-template-areas:
              'l1 s1 d1 lever'
              'l2 s2 d2 lever'
              'l3 s3 d3 e3'
              'l4 s4 d3 e4'
              'l5 s5 d5 e5'
              'l6 s6 d6 e6'
              'l7 d7 d7 e7';
            grid-template-columns: 1fr 20px 1fr 20px;
            grid-template-rows: repeat(7, 22px);
            font-size: 0.9rem;
            gap: 4px;
            justify-items: center;

            > .label {
              justify-self: baseline;
              align-self: center;
            }

            > .lever {
              grid-area: lever;
              display: flex;
              width: 100%;
              cursor: pointer;

              > svg {
                stroke: var(--primary-color-text);
                transition: stroke 0.15s;
                &:hover {
                  stroke: var(--primary-color);
                }
              }
            }

            > .p-checkbox {
              align-self: center;
              text-align: center;
            }
            > .p-inputnumber {
              > .p-inputtext {
                width: 100%;
              }
            }
            .p-multiselect {
              width: 100% !important;

              .p-multiselect-trigger {
                width: initial !important;

                > span {
                  margin: 0 2px;
                  font-size: var(--input-font-size);
                }
              }

              .p-multiselect-label-container {
                display: flex;
                align-items: center;

                .p-multiselect-label {
                  font-size: var(--input-font-size);
                  padding: 3px;
                  line-height: normal;
                }
              }
            }
          }

          > .buttons {
            display: flex;
            flex-direction: row;
            padding: 4px;
            gap: 4px;

            > .p-button {
              flex-grow: 1;
            }
          }
        }

        > .adaptive-optics {
          flex-grow: 1;
          border: 1px solid var(--surface-border);
          margin: 2px;
          // display: none;

          > .ao-body {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: repeat(4, 22px);
            font-size: 0.9rem;
            gap: 4px;
            justify-items: center;
            padding: 4px;

            > .label {
              justify-self: baseline;
              align-self: center;
            }
            > .p-inputnumber {
              > .p-inputtext {
                width: 100%;
              }
            }
          }
        }
      }

      > .buttons {
        display: flex;
        justify-content: center;
        gap: 4px;
        padding: 4px 0;
      }
    }

    > .light-path {
      flex-shrink: 1;
      border-top: 1px solid var(--surface-border);
      > .body {
        padding: 4px;
        display: grid;
        gap: 4px;
        // flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 22px);
      }
    }

    > .wavefront-sensors {
      flex-shrink: 1;
      border-top: 1px solid var(--surface-border);
      > .body {
        > .p-tabview {
          ul {
            li {
              flex-grow: 1;
              a {
                padding: 4px;
                font-size: 0.9rem;
                display: block;
                width: 100%;
                text-align: center;
              }
            }
          }

          .p-tabview-panels {
            padding: 4px;
            .pwfs {
              display: grid;
              font-size: 0.9rem;
              grid-template-columns: 1fr 1fr 2fr 40px;
              grid-template-rows: repeat(2, 22px);
              gap: 4px;
              > span {
                align-self: center;
              }
            }
            .achr {
              display: grid;
              font-size: 0.9rem;
              grid-template-columns: 1fr 1fr 2fr 40px;
              grid-template-rows: repeat(4, 22px);
              gap: 4px;
              > span {
                align-self: center;
              }
            }
          }
        }
      }
    }

    > .alarms {
      flex-shrink: 1;
      // min-height: 160px;
      border-top: 1px solid var(--surface-border);
      overflow-y: auto;
      > .body {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        padding: 4px;
        font-size: 0.9rem;
        > .alarm {
          border: 1px solid var(--surface-border);
          flex: 1 0 30%;

          > .title-bar {
            display: grid;
            // empty space - centered title - right-aligned alarm indicator
            grid-template-columns: 1fr auto 1fr;
            align-items: center;

            > .title {
              grid-column-start: 2;
              background-color: transparent;
            }

            .p-togglebutton {
              justify-self: end;
              .p-button-icon-left {
                margin-right: 0;
              }
            }
          }

          > .body {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 8px;
            padding: 8px;
          }

          &.has-alarm {
            border: 1px solid var(--red-500);
          }
        }
      }
    }
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

.animate-error-bg {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      background-color: inherit;
      opacity: 1;
    }
    50% {
      background-color: var(--red-600);
    }
  }
}

.light {
  .Guider > .guider > .body > .diagram {
    .react-flow__node.active {
      background-color: #2196f3;
      color: #fff;
    }

    .react-flow__node.inactive {
      background-color: #607d8b;
      color: #fff;
    }

    .react-flow__node.idle {
      background-color: #fbc02d;
      color: #000;
    }

    .react-flow__edge.active > path {
      stroke: #2196f3;
    }

    .react-flow__edge.idle > path {
      stroke: #fbc02d;
    }

    .react-flow__edge.inactive > path {
      stroke: #a2b1b8;
    }
  }
}
