@use 'sass:meta';
@include meta.load-css('lucuma-ui-css/lucuma-ui-common.scss');

.light {
  @include meta.load-css('lucuma-ui-css/light-theme');
}

.dark {
  @include meta.load-css('lucuma-ui-css/dark-theme');
}

@include meta.load-css('lucuma-ui-css/lucuma-ui-prime');

@include meta.load-css('helpers');
/* stylelint-enable no-invalid-position-at-import-rule */

:root {
  --navigate-accent-color: rgba(144, 238, 144, 80%);
  --input-font-size: 0.8rem;
}

// Base styles
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--surface-0);
  font-family: var(--font-family);
}

a {
  text-decoration: inherit;
}

#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
}

// Smaller inputs
.p-dropdown {
  width: 100% !important;

  .p-dropdown-trigger {
    width: initial !important;

    > .p-dropdown-trigger-icon {
      margin: 0 2px;
      font-size: var(--input-font-size);
    }
  }

  .p-dropdown-label {
    display: flex;
    align-items: center;

    &.p-inputtext {
      width: 40px;
      font-size: var(--input-font-size);
      padding: 3px;
      line-height: normal;
    }
  }
}

.p-inputnumber {
  .p-inputtext {
    font-size: var(--input-font-size);
    padding: 0;
    text-align: center;
  }
}

.p-inputtext.p-component {
  font-size: var(--input-font-size);
  width: 100% !important;
  height: 100%;
}

.p-component {
  &.p-button,
  .p-button {
    margin: 0;
    padding: 4px;
    font-size: var(--input-font-size);
  }
}

button.p-component.p-button {
  margin-right: 0;
}

.mutation-button-icons {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.p-datatable {
  .p-datatable-thead {
    > tr {
      > th {
        padding: 2px !important;
        font-size: 0.9rem;
      }
    }
  }

  .p-datatable-tbody {
    > tr {
      > td {
        padding: 2px !important;
        font-size: 0.9rem;
      }
    }
  }
}

.dark .p-dialog .p-dialog-header,
.light .p-dialog .p-dialog-header {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.p-overlaypanel {
  .p-overlaypanel-content {
    padding: 4px !important;

    .p-button {
      padding: 2px 4px;
      width: 100%;
    }

    .p-divider {
      margin: 4px 0;
    }
  }
}

.modal-footer {
  button.p-component.p-button {
    padding: 5px 10px;
  }
}

.p-toast-message-content {
  .p-toast-message-icon {
    display: none;
  }
}

.p-toast {
  z-index: 1201;
}

.graphql-error-toast .p-toast-detail {
  font-size: 0.8rem;
  // Whitespaces in the error message are preserved
  white-space: pre-wrap;
}

.dark .p-checkbox .p-checkbox-box,
.light .p-checkbox .p-checkbox-box {
  border-width: 1px;
}

.dark .p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--blue-400);

  > span {
    color: var(--blue-400);
  }
}

.p-dropdown-item {
  font-size: 0.9rem;
}

.p-dialog {
  max-width: 90vw;
  min-width: 50vw;
}

.p-multiselect-panel .p-multiselect-header {
  display: none;
}

// Under construction styles
button.under-construction {
  background-color: transparent !important;
  border-color: var(--yellow-400) !important;
  color: var(--yellow-400) !important;
  cursor: not-allowed;
}

.under-construction {
  button.p-button,
  .p-inputnumber-input,
  .p-checkbox-box,
  .p-dropdown {
    background-color: transparent !important;
    border-color: var(--yellow-400) !important;
    color: var(--yellow-400) !important;
    cursor: not-allowed;

    > span {
      color: var(--yellow-400) !important;
    }

    svg {
      color: var(--yellow-400) !important;
    }
  }
}

// Content only visible to screenreaders
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
