.telescope-setup {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  > .title {
    position: relative;

    > .settings {
      position: absolute;
      left: 5px;


    }
  }


  > .footer {
    border-top: 1px solid var(--surface-border);
    padding: 5px 0;
  }
}

#telescope-setup-settings {
  .p-overlaypanel-content {
    padding: 4px;

    .p-button {
      padding: 2px 4px;
      width: 100%;
    }

    .p-divider {
      margin: 4px 0;
    }
  }
}