.main-body {
  height: 100%;

  .panel {
    background-color: var(--surface-a);
    color: var(--text-color);
    border: 1px solid var(--surface-border);
    width: 33.33333%;
    display: block;
    height: calc(100vh - 28px);
    overflow-y: auto;
    font-family: var(--font-family);
    float: left;

    .title {
      position: relative;
      display: block;
      text-align: center;
      padding: 2px 0;
      background-color: var(--surface-c);
      letter-spacing: 2px;
      font-size: 0.9rem;

      >.title-dropdown {
        position: absolute;
        left: 5px;
        cursor: pointer;
      }
      
      .absolute-right-btn {
        position: absolute;
        padding: 0;
        right: 5px;
        background-color: transparent;
        border: 0;

        &:focus {
          border: 0;
        }
      }
    }

    .p-panel,
    .n-panel {
      display: none;
    }
  }

}

@media only screen and (max-width: 1250px) {
  .main-body {
    height: inherit;
    width: 300vw;
    height: calc(100vh - 26px);
    position: fixed;
    transition: transform 0.5s;

    .panel {
      width: 100vw;
      height: calc(100vh - 26px);
      overflow-y: scroll;
      font-family: var(--font-family);

      .title {
        display: block;
        text-align: center;
        padding: 2px 0;
        background-color: var(--surface-c);
      }

      .body {
        height: 100%;
      }

      .p-panel,
      .n-panel {
        position: absolute;
        display: block;
        text-align: left;
        width: 50px;
        color: var(--primary-color-text);
        top: 2px;
        cursor: pointer;
      }

      .p-panel {
        left: 40px;

        >i {
          display: block;
          transform: translateX(calc(100% - 16px));
        }

        &:hover {
          >i {
            animation: move-back 1s infinite ease-in-out;
          }
        }
      }

      .n-panel {
        right: 40px;

        >i {
          display: block;
          transform: translateX(0%);
        }

        &:hover {
          >i {
            animation: move-forward 1s infinite ease-in-out;
          }
        }
      }
    }

    &.WavefrontSensors {
      transform: translateX(-100vw);
    }

    &.Guider {
      transform: translateX(-200vw);
    }

  }
}

@keyframes move-back {
  0% {
    transform: translateX(calc(100% - 16px));
    color: var(--primary-color-text);
  }

  70% {
    transform: translateX(0%);
    color: var(--primary-color);
  }

  100% {
    transform: translateX(calc(100% - 16px));
    color: var(--primary-color-text);
  }
}

@keyframes move-forward {
  0% {
    transform: translateX(0%);
    color: var(--primary-color-text);
  }

  70% {
    transform: translateX(calc(100% - 16px));
    color: var(--primary-color);
  }

  100% {
    transform: translateX(0%);
    color: var(--primary-color-text);
  }
}