.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    overflow: hidden;
    width: 50%;
    min-width: 650px;
    background-color: var(--surface-a);
    border: 1px solid var(--surface-border);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    .title {
      overflow: hidden;
      width: 70%;
      margin: 20px auto;
      text-align: center;
      // border-bottom: var(--navigate-accent-color) solid 4px;
    }
    .title::after {
      display: block;
      content: '';
      border-bottom: var(--navigate-accent-color) solid 4px;
      transform: scaleX(0);
      transform-origin: 0% 50%;
      transition: transform 250ms ease-in-out;
      animation: show-underline 0.8s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    .text {
      color: var(--text-color);
      transform: translate(-100%);
      font-weight: 300;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 20px;
      animation: show-top-text 0.8s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
    .login-buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
      .p-component.p-button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        max-width: 200px;
      }
      .p-component.p-button:nth-child(0) {
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .login {
    .box {
      min-width: initial;
      width: 90%;
      .title {
        width: 100%;
      }
      .text {
        font-size: 1.5rem;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes show-underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes show-top-text {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
