body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
}

.layout {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.body {
  flex: 1 1 auto;
}

.w-100 {
  height: 100%;
}

a {
  text-decoration: inherit;
}

.top-bar {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  background-color: #333333;
}

@media (max-width: 480px) {
  .top-bar {
    display: none;
  }
}

.top-bar > div {
  width: 30%;
}

.top-bar .left {
  text-align: left;
}

.top-bar .right {
  text-align: right;
}